<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image:url({% static 'photo-1579621970795-87facc2f976d.jpg' %});background-repeat: no-repeat;background-size: 100% 800px;background-attachment: fixed;">
<h1 align="center" style="margin-top:200px;">Show Mini Statement</h1>
<form method="post">{% csrf_token %}
    <table style="margin-top:10px;margin-left:580px;">
         <tr>
            <td><input type="password" name="pin" placeholder="Enter the 4 digit pin"></td>
        </tr>
        <tr>
            <td>
                 <select name="choice">
                    <option>Deposit/Withdraw</option>
                    <option value="deposit">Deposit</option>
                    <option value="withdraw">Withdraw</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-primary" style="margin-top:10px;border-radius:100px;">Generate Statement</button></td>
        </tr>
    </table>
</form>
</body>
</html>