<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image:url({% static '2312001.jpg' %});background-repeat: no-repeat;background-size: 100% 800px;background-attachment: fixed;">
<div style="background-color:azure;height:200px;width:300px;margin-left:500px;margin-top:200px;">
    <h2 align="center">YOUR CURRENT BALANCE</h2>
    <h4>Account Number : {{acnum}} </h4>
    <h4>Current Balance : {{balance}} </h4>
</div>
</body>
</html>


