<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script>
        function myfunction(){
           var body=document.getElementById('body').innerHTML;
           var data=document.getElementById('data').innerHTML;
           document.getElementById('body').innerHTML=data;
           window.print()
        }
    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="body" style="background-image:url({% static 'money-2696219_640.jpg' %});background-repeat: no-repeat;background-size: 100% 800px;background-attachment: fixed;">
<form method="post">{% csrf_token %}
    <div id="data">
    <h1 align="center" style="margin-top:220px;color:white;">Withdraw Statement</h1>
    <table align="center" border="2" style="margin-top:30px;">
        <tr>
            <th>Sl.No</th>
            <th>Date</th>
            <th>Withdraw Amount</th>
        </tr>
        {% for i in a %}
        {% if i.uid == id %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.date}}</td>
            <td>{{i.amount}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    </div>
    <button onclick="myfunction()" style="margin-left:580px;">Print withdraw statement</button>
</form>
</body>
</html>